<!-- Validation failure messages -->
<% if @note.errors.any? %>
  <% @note.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Note #<%= @note.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_note/<%= @note.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <input type="text" id="body" name="body" placeholder="Body" class="form-control" value="<%= @note.body %>">
      </div>

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label>

        <input type="text" id="location" name="location" placeholder="Location" class="form-control" value="<%= @note.location %>">
      </div>

      <!-- Label and input for device -->
      <div class="form-group">
        <label for="device" class="control-label">
          Device
        </label>

        <input type="text" id="device" name="device" placeholder="Device" class="form-control" value="<%= @note.device %>">
      </div>

      <!-- Label and input for dtg -->
      <div class="form-group">
        <label for="dtg" class="control-label">
          Dtg
        </label>

        <input type="text" id="dtg" name="dtg" placeholder="Dtg" class="form-control" value="<%= @note.dtg %>">
      </div>

      <button class="btn btn-warning">
        Update Note
      </button>
      or
      <a href="/notes/<%= @note.id %>">Cancel</a>
    </form>
  </div>
</div>
