<!-- Validation failure messages -->
<% if @type.errors.any? %>
  <% @type.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Type #<%= @type.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_type/<%= @type.id %>" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for note_id -->
      <div class="form-group">
        <label for="note_id" class="control-label">
          Note
        </label>

        <input type="text" id="note_id" name="note_id" placeholder="Note" class="form-control" value="<%= @type.note_id %>">
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <input type="text" id="body" name="body" placeholder="Body" class="form-control" value="<%= @type.body %>">
      </div>

      <!-- Label and input for list -->
      <div class="form-group">
        <label for="list" class="control-label">
          List
        </label>

        <input type="text" id="list" name="list" placeholder="List" class="form-control" value="<%= @type.list %>">
      </div>

      <!-- Label and input for picture -->
      <div class="form-group">
        <label for="picture" class="control-label">
          Picture
        </label>

        <%= cl_image_tag(@type.picture.to_s, :width => 90, :height => 90, :crop => :thumb) %>
        <input type="file" id="picture" name="picture" class="form-control">
      </div>

      <button class="btn btn-warning">
        Update Type
      </button>
      or
      <a href="/types/<%= @type.id %>">Cancel</a>
    </form>
  </div>
</div>
