<!-- Validation failure messages -->
<% if @type.errors.any? %>
  <% @type.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Type</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_type" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for note_id -->
      <div class="form-group">
        <label for="note_id" class="control-label">
          Note
        </label>

        <input type="text" id="note_id" name="note_id" placeholder="Note" class="form-control" value="<%= @type.note_id %>">
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <input type="text" id="body" name="body" placeholder="Body" class="form-control" value="<%= @type.body %>">
      </div>

      <!-- Label and input for list -->
      <div class="form-group">
        <label for="list" class="control-label">
          List
        </label>

        <input type="text" id="list" name="list" placeholder="List" class="form-control" value="<%= @type.list %>">
      </div>

      <!-- Label and input for picture -->
      <div class="form-group">
        <label for="picture" class="control-label">
          Picture
        </label>

        <input type="text" id="picture" name="picture" placeholder="Picture" class="form-control" value="<%= @type.picture %>">
      </div>

      <button class="btn btn-success">
        Create Type
      </button>
      or
      <a href="/types">Cancel</a>
    </form>
  </div>
</div>
