<div class="page-header">
  <h3>Type #<%= @type.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Note</dt>
      <dd><%= @type.note_id %></dd>

      <dt>Body</dt>
      <dd><%= @type.body %></dd>

      <dt>List</dt>
      <dd><%= @type.list %></dd>

      <dt>Picture</dt>
      <dd><img src="<%= @type.picture %>" class="img-responsive"></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/types" class="btn btn-primary">
        Back
      </a>
      <a href="/types/<%= @type.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_type/<%= @type.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
